<h4>Historial de Solicitudes de Interconsulta</h4>
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered display table-sm table-hover" style="width:100%">
        <tbody *ngIf="sic">
            <tr *ngFor="let dts of sic">
                <td>{{dts.estado}}</td>
                <td>{{dts.ges}}</td>
                <td>{{dts.numSic}}</td>
                <td>{{dts.especialidad}}</td>
                <td>{{dts.hipotesis}}</td>
                <td>{{dts.fSolicitud}}</td>
            </tr>
        </tbody>
    </table>
</div>
