<!-- As a heading -->
<div class={{sistema}}>
  <nav class="navbar navbar-light" class='header'>
    <div class="contenedor">
        <span class="navbar-brand mb-0 h1">Título</span>
        <div class="form-inline float-right mt-2">
           <a class="mr-1">Rayen <span class="badge badge-pill badge-danger">45</span></a>   
           <a>Florence <span class="badge badge-pill badge-success">4</span></a>
        </div>
    </div>
        
    
  </nav>
  <nav class="navbar" class='subHeader'>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" id="atencion-tab" data-toggle="tab" href="#atencion" role="tab" aria-controls="atencion" aria-selected="true">Atención</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" id="sic-tab" data-toggle="tab" href="#sic" role="tab" aria-controls="sic" aria-selected="false">Sic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" id="examenes-tab" data-toggle="tab" href="#examenes" role="tab" aria-controls="examenes" aria-selected="false">Exámenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" id="lme-tab" data-toggle="tab" href="#lme" role="tab" aria-controls="lme" aria-selected="false">LME</a>
      </li>      
    </ul>
  </nav>
</div>
<div class="tab-content mt-4" id="myTabContent">
  <div class="tab-pane fade show" id="atencion" role="tabpanel" aria-labelledby="atencion-tab" routerLinkActive="active">
    <app-atenciones></app-atenciones>
  </div>
  <div class="tab-pane fade" id="sic" role="tabpanel" aria-labelledby="sic-tab" routerLinkActive="active">
    <app-sic></app-sic>
  </div>  
  <div class="tab-pane fade" id="examenes" role="tabpanel" aria-labelledby="examenes-tab" routerLinkActive="active">
    <app-examenes></app-examenes>
  </div>
  <div class="tab-pane fade" id="lme" role="tabpanel" aria-labelledby="lme-tab" routerLinkActive="active">
    <app-lme></app-lme>
  </div> 
</div>
  

