<!-- As a heading -->
<div class={{sistema}}>
  <nav class="navbar navbar-light" class='header'>
    <span class="navbar-brand mb-0 h1">Título</span>
  </nav>
  <nav class="navbar navbar-light bg-light" class='subHeader'>
    <span class="navbar-brand mb-0 h1">Subtítulo</span>
  </nav>
</div>
<div *ngFor="let atc of resumen">
  <h4>{{atc.nombre}}</h4>
  <ul>
    <li *ngFor="let dts of atc.elemento">
      {{dts.nombre}}
      <ul *ngIf="dts.elemento">
        <li *ngFor="let ins of dts.elemento">
          {{ins.nombre}}
        </li>
      </ul>
    </li>
  </ul>

</div>


<!-- <div *ngIf="elem.elemento">
    <div *ngFor="let even of elem.elemento">
      {{even.nombre}}
    </div>        
</div> -->
<!-- <div *ngFor="let item of resumen">
  <div>+ {{item.nombre}}</div>
  <div *ngFor="let elem of item.elemento">
    r {{elem.nombre}} | {{elem.elemento.length}}
      <div *ngIf="elem.elemento.length > 1">
        <div *ngFor="let even of elem.elemento">
          s  {{even.nombre}}
        </div>        
    </div>
  </div>

</div> -->