

ul li{
    list-style-type: none;
}

.avoid-clicks {
    pointer-events: none;
}

.items:nth-of-type(odd) {
    background-color: rgb(240, 236, 236);
 }
.items:nth-of-type(even) {
    background-color: rgb(241, 213, 213);
 }

/*  .two li:nth-of-type(odd) {
    background: lightsteelblue;
  } */