

li{
    list-style-type: none;
}

.avoid-clicks {
    pointer-events: none;
}

/* .items {
 border: 1px gray dotted; 
} */
.items:nth-of-type(odd) {
    background-color: rgb(241, 239, 239);
 }
.items:nth-of-type(even) {
    background-color: #fff;
 }

 .two li:nth-of-type(odd) {
    background: lightsteelblue;
  }