
li{
    list-style-type: none;
}

.avoid-clicks {
    pointer-events: none;
}


.items:nth-of-type(odd) {
    background-color: rgb(241, 239, 239);
 }
.items:nth-of-type(even) {
    background-color: #fff;
 }

 /* tree lines */

 ul, li { list-style: none; margin: 0; padding: 0; }

 ul { padding-left: 1em; }

 li { padding-left: 1em;
   border: 1px dotted black;
   border-width: 0 0 1px 1px; }

 /* li.contenedor{ border-bottom: 0px; } */

 li div { margin: 0;
   background: white;
   position: relative;
   top: 0.7em; 
   z-index: 9999;
 }
 li ul { 
   border-top: 1px dotted black; 
   margin-left: -1em;     
   padding-left: 2em; 
 }
 ul li:last-child ul {
   border-left: 1px solid white;
   margin-left: -17px;
 }

 li.conLinea{ border-bottom: 1px dotted black; }
 li.sinLinea { border-bottom: 0px; }

 .collapsing{ border: 0px;}