<!-- As a heading -->
<div class={{sistema}}>
  <nav class="navbar navbar-light" class='header'>
    <span class="navbar-brand mb-0 h1">Título</span>
  </nav>
  <nav class="navbar navbar-light bg-light" class='subHeader'>
    <span class="navbar-brand mb-0 h1">Subtítulo</span>
  </nav>
</div>

<div class="container mt-4 mb-4">
  <ng-container *ngFor="let atc of resumen; let i = index" class="container padre">
    <div class="items primerCampo" data-toggle="collapse" [attr.data-target]="'#primero-'+ i" (click)="evento($event, atc)">
      <i class="far fa-plus-square avoid-clicks ml-1" [attr.id]="'icono-'+ i" *ngIf="atc.elemento.length > 0"></i>
      <ng-container *ngIf="atc.tipo == 'florence'"><i class="fas fa-hospital"></i></ng-container>
      <ng-container *ngIf="atc.tipo == 'rayen'"><i class="fas fa-briefcase-medical"></i></ng-container> 
       {{atc.nombre}} 1° ({{atc.elemento.length}})
    </div>
    <ng-container *ngIf="atc.elemento">
      <ul class="collapse mb-2" [attr.id]="'primero-'+ i">
        <li class="conLinea" [attr.id]="'lista-'+i+e" *ngFor="let dts of atc.elemento; let e = index" >
          <div data-toggle="collapse" [attr.data-target]="'#segundo-'+i+e" (click)="evento($event, dts)">
            <i class="far fa-plus-square avoid-clicks ml-1" [attr.id]="'icono-'+ i+e" [attr.id]="'icono-'+ i+e" *ngIf="dts.elemento.length > 0"></i> {{dts.nombre}} 2° ({{dts.elemento.length}})
          </div>
    
          <ng-container *ngIf="dts.elemento">
            <ul class="collapse" [attr.id]="'segundo-'+i+e"> 
              <li class="conLinea" [attr.id]="'lista-'+i+e+j" *ngFor="let ins of dts.elemento; let j = index">
                <div data-toggle="collapse" [attr.data-target]="'#tercero-'+i+e+j" (click)="evento($event, ins)">
                  <i class="far fa-plus-square avoid-clicks ml-1" [attr.id]="'icono-'+ i+e+j" *ngIf="ins.elemento.length > 0"></i> {{ins.nombre}} 3° ({{ins.elemento.length}}) 
                </div>
    
                <ng-container *ngIf="ins.elemento.length > 0">
                  <ul class="collapse" [attr.id]="'tercero-'+i+e+j">
                    <li class="conLinea" [attr.id]="'lista-'+i+e+j+k" *ngFor="let elem of ins.elemento; let k = index">
                      <div data-toggle="collapse" [attr.data-target]="'#cuarto-' +i+e+j+k" (click)="evento($event, elem)">
                        <i class="far fa-plus-square avoid-clicks ml-1" [attr.id]="'icono-'+ i+e+j+k" *ngIf="elem.elemento.length > 0"></i> {{elem.nombre}} 4° ({{elem.elemento.length}})
                      </div>
                      
                      <ng-container *ngIf="elem.elemento.length > 0">
                        <ul class="collapse" [attr.id]="'cuarto-' +i+e+j+k">
                          <li class="conLinea" [attr.id]="'lista5-'+i+e+j+k" *ngFor="let el of elem.elemento">
                            <div>{{el.nombre}} 5° ({{el.elemento.length}})</div> 
                          </li>
                        </ul>
                      </ng-container>
                    </li>
                  </ul>
                </ng-container>
                
              </li>
            </ul> 

          </ng-container>
    
        </li>
      </ul>
    </ng-container>
  </ng-container>
</div>
  

