<div class="filtrado-meses">
    <p>Meses: </p>
    <select class="select-meses" id="inputGroupSelect01">
        <option selected>Seleccione</option>
        <option value="1">1 mes</option>
        <option value="2">2 meses</option>
        <option value="3">3 meses</option>
        <option value="4">9 meses</option>
        <option value="5">12 meses</option>        
    </select>
</div>
<div class="table-responsive">
    <table id="examTable" class="table table-striped table-bordered compact display table-sm table-hover nowrap" style="width:100%">
        <tbody *ngIf="resultado">
            <tr *ngFor="let i of resultado">
                <!-- F.H Toma de muestra -->
                <td>{{i.FechaTomaMuestra | date: 'dd-MM-yyyy HH:mm' }}</td>
                <!-- Examen -->
                <td>{{i.NombreExamen}}</td>
                <!-- Determinante -->
                <td>{{i.Determinante}}</td>    
                <!-- Unidad -->
                <td>{{i.Unidad}}</td>          
                <!-- Valor -->
                <td>{{i.Valor}}</td>      
                <!-- Valor referencia -->
                <td>{{i.ValorReferencia}}</td>       
                <!-- Valor Anormal ESTE ES UN CHECKBOX-->
                <td class="text-center"><input type="checkbox" disabled [checked]="i.ValorAnormal" ></td>    
                <!-- Numero Orden -->
                <td>{{i.NumeroOrden}}</td>   
                <!-- F.H Solicitud -->
                <td>{{i.FechaSolictud | date: 'dd-MM-yyyy HH:mm'}}</td>    
                <!-- F.H Resultados -->
                <td>{{i.FechaResultados | date: 'dd-MM-yyyy HH:mm'}}</td>                                                                                                                
            </tr>
        </tbody>
    </table>
  </div>
