.atenciones {
    
  li{
      list-style-type: none;
  }

  .avoid-clicks {
      pointer-events: none;
  }


  .items:nth-of-type(odd) {
      background-color: rgb(241, 239, 239);
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 7px;
  }
  .items:nth-of-type(even) {
      background-color: #fff;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 7px;
  }

  /* tree lines */

  ul, li { list-style: none; margin: 0; padding: 0; }
  
    ul { padding-left: .7em; }
  
    li { padding-left: .7em;
      border: 1px dotted black;
      border-width: 0 0 1px 1px; }
  
    /* li.contenedor{ border-bottom: 0px; } */
  
    li div,
    .primerCampo { margin: 0;
      background: white;
      position: relative;
      top: 0.7em; 
      z-index: 999;
      cursor: pointer;
    }
    li ul { 
      border-top: 1px dotted black; 
      margin-left: -.7em;     
      padding-left: 1.4em; 
    }
    ul li:last-child ul {
      border-left: 1px solid white;
      margin-left: -12.1px;
    }
  
    li.conLinea{ border-bottom: 1px dotted black; }
    li.sinLinea { border-bottom: 0px; }
  
    .collapsing{ border: 0px;}

    div.primerCampo{
        font-weight: 600;
    }
    .segundoCampo{
      font-weight: 500;
    }
    /* .resaltar:hover{
      background-color: black;
    }
    .circulo{
      border-radius: 30px !important;
    } */
} 
