<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
<div class="atenciones">
  <ng-container *ngFor="let atc of atenciones; let i = index">
    <div class="items primerCampo" data-toggle="collapse" [attr.data-target]="'#primero-'+ i" (click)="evento($event, atc)">
      <i class="far fa-plus-square avoid-clicks ml-1" [attr.id]="'icono-'+ i" *ngIf="atc.Elemento.length > 0"></i>
      <ng-container *ngIf="atc.Servicio == 'Florence'"><i class="fas fa-hospital"></i></ng-container>
      <ng-container *ngIf="atc.Servicio == 'Rayen'"><i class="fas fa-briefcase-medical"></i></ng-container> 
      {{atc.Nombre}} 1° ({{atc.Elemento.length}})
    </div>

    <ng-container *ngIf="atc.Elemento">
      <ul class="collapse mb-2 pl-3" [attr.id]="'primero-'+ i">
        <ng-container *ngFor="let aux of atc.Elemento; let h = index">
            <li class="conLinea" [attr.id]="'lista-'+i+h+e" *ngFor="let dts of aux; let e = index" > 
              <div data-toggle="collapse" class="segundoCampo" [attr.data-target]="'#segundo-'+i+h+e" (click)="evento($event, dts)">
                <i class="far fa-plus-square avoid-clicks ml-1" [attr.id]="'icono-'+i+h+e" *ngIf="dts.Elemento.length > 0"></i> {{dts.Nombre}} 2° ({{dts.Elemento.length}})
              </div>
        
              <ng-container *ngIf="dts.Elemento">
                <ul class="collapse" [attr.id]="'segundo-'+i+h+e"> 
                  <ng-container *ngFor="let sec of dts.Elemento">
                    <li class="conLinea" [attr.id]="'lista-'+i+h+e+j" *ngFor="let ins of sec; let j = index">
                      <div data-toggle="collapse" [attr.data-target]="'#tercero-'+i+h+e+j" (click)="evento($event, ins)">
                        <i class="far fa-plus-square avoid-clicks ml-1" [attr.id]="'icono-'+i+h+e+j" *ngIf="ins.Elemento"></i> {{ins.Nombre}} 3° {{j}} <span *ngIf="ins.Elemento">({{ins.Elemento.length}})</span>  
                      </div>
          
                      <ng-container *ngIf="ins.Elemento">
                        <ul class="collapse" [attr.id]="'tercero-'+i+h+e+j">
                          <ng-container *ngFor="let sip of ins.Elemento">
                            <li class="conLinea" [attr.id]="'lista-'+i+h+e+j+k" *ngFor="let elem of sip; let k = index">
                              <div data-toggle="collapse" [attr.data-target]="'#cuarto-'+i+h+e+j+k" (click)="evento($event, elem)">
                                <i class="far fa-plus-square avoid-clicks ml-1" [attr.id]="'icono-'+i+h+e+j+k" *ngIf="elem.Elemento"></i> {{elem.Nombre}} 4° {{k}} <span *ngIf="elem.Elemento">({{elem.Elemento.length}})</span>
                              </div>
                              
                              <!-- <ng-container *ngIf="elem.Elemento">
                                <ul class="collapse" [attr.id]="'cuarto-'+i+h+e+j+k">
                                  <ng-container *ngFor="let po of elem.Elemento">
                                    <li class="conLinea" [attr.id]="'lista5-'+i+h+e+j+k" *ngFor="let el of po">
                                      <div>{{po.Nombre}} 5°</div> 
                                    </li>
                                  </ng-container>
                                </ul>
                              </ng-container> -->

                            </li>
                          </ng-container>
                        </ul>
                      </ng-container>
                      
                    </li>
                  </ng-container>
                </ul> 
    
              </ng-container>
        
            </li>
          
        </ng-container>
      </ul>
    </ng-container>
  </ng-container>
</div>