.rayen{
    .header{
        background-color: #3274C2;
        border-bottom: 3px solid #66B1EA;
        color:#fff;
    }
    .subHeader{
        background-color: #3274C2;
        color:#fff;
    }
}