.urgencia{
    .header{
        background-color:#003871;
        color:#fff;
        padding-bottom: .4rem;
    }
    .subHeader{
        background-color: #EEEEEE;
        color:#526373;
        
    }
}
